<div id="gitment-ctn"></div> 
<!--找到下两列-->
<!--<link rel="stylesheet" href="//imsun.github.io/gitment/style/default.css">-->
<!--<script src="//imsun.github.io/gitment/dist/gitment.browser.js"></script>-->
<!--替换成下两列-->
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
  id: '<%= page.title %>',
  owner: '<%=theme.gitment_owner%>',
  repo: '<%=theme.gitment_repo%>',
  oauth: {
    client_id: '<%=theme.gitment_oauth.client_id%>',
    client_secret: '<%=theme.gitment_oauth.client_secret%>',
  },
})
gitment.render('gitment-ctn')
</script>